<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Suite" thread-count="1" parallel="false" preserve-order="true">
	<test name="textBoxCheck" parallel="false">
		<classes>
			<class name="testcases.CalculationTest" />
			<class name="testcases.CountrySelectTest" />

		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
